@model SpacePlanner.Models.Crew

<html>
<head>
    <title>SpaceE Mission Planner</title>
</head>
<body>
    <h2>SpaceE Mission Planner</h2>
    <p>@Html.ActionLink("Crew Required", "Index", "Crew")</p>
    <p>@Html.ActionLink("Fuel Required", "Index", "Fuel")</p>
    <p>@Html.ActionLink("Trip Distance Calculator", "Index", "Trip")</p>
</body>
</html>